* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// variables

:root {
  --shell-width: 1200px;
  --shell-spacing: 0 20px;
  --section-spacing: 30px 0;
}

// Main

.main {
  min-height: 100dvh;
}


// Base

ul a {
  text-decoration: none;
}

button {
 all: unset;
}

.full-width {
  width: 100%;
}



