.logo {
  display: inline-block;
  color: var(--mat-sys-on-tertiary-fixed-variant);

  .mat-icon {
    height: 55px;
    width: 55px;
    font-size: 55px;
    line-height: 1;
    color: inherit;
  }
}
