.article {
  position: relative;

  & > a {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33,33,33,.1);
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.4);
    }
  }

  p + p {
    margin-top: 5px;
  }

  .article__image {
    padding-bottom: 70%;
  }

  .article__meta {
    padding: 10px 15px 5px;
  }
  .article__content {
    padding: 10px 15px;
  }

  .article__actions {
    display: flex;
    position: relative;
    z-index: 10;
  }

  .article__actions > a {
    transition: background .3s, opacity .3s;
    display: inline-block;
    padding: 8px;
    flex-grow: 1;
    text-align: center;
    color: var(--mat-sys-on-primary);
    line-height: 0;
  }

  .edit {
    background-color: var(--mat-sys-primary-fixed-dim);

    &:hover {
      background-color: var(--mat-sys-primary);
      opacity: .8;
    }
  }

  .delete {
    background-color: var(--mat-sys-primary);

    &:hover {
      background-color: var(--mat-sys-primary-fixed-dim);
      opacity: .8;
    }
  }

  &:not(&--single) {
    .article__actions {
      display: none;
    }
  }

  &--single {
    .article__image {
      padding-bottom: 35%;
    }
  }

  &--card {
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
