<article class="article" [ngClass]="{'article--single': typeOfPost === 'post', 'article--card': typeOfPost=== 'grid'}">
  @if (typeOfPost === 'grid') {
    <a [routerLink]="['post', post?._id]" role="link">{{ post?.title }}</a>
  }

  <div class="article__image image-fit">
    <img [src]="post?.image" [alt]="post?.title">
  </div>

  <div class="article__meta">
    @if (post?.author?.email && typeOfPost === 'post') {
      <p>
      <span>
        <strong>Author:</strong>
        {{ post?.author?.email }}
      </span>
      </p>
    }
    <p>
      <span>
        <strong>Date:</strong>
        {{ post?.createdAt | date: 'mediumDate' }}
      </span>
    </p>
  </div>

  <div class="article__content">
    <h3>{{ post?.title }}</h3>

    @if (typeOfPost === 'post') {
      <p>{{ post?.content }}</p>
    }
  </div>

  @if (isUserOwnerOfThePost) {
    <div class="article__actions">
      <a [routerLink]="['/dashboard/editPost', post?._id]" class="edit">
        <mat-icon>
          edit
        </mat-icon>
      </a>

      <a href="#" class="delete" (click)="openDialog($event)">
        <mat-icon>
          delete
        </mat-icon>
      </a>


    </div>
  }
</article>
